.terminal {
    height: 500px;
    overflow-y: auto;
    background-color: black;
    width: 50%;
    color: #C4C4C4;
    border-color: #C4C4C4;
    border-width: 10px;
    padding: 35px 45px;
    font-size: 14px;
    line-height: 1.42;
    font-family: 'IBM Plex Mono', Consolas, Menlo, Monaco, 'Courier New', Courier,
        monospace;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.terminal__line {
    line-height: 2;
    white-space: pre-wrap;
}

.terminal__prompt {
    display: flex;
    align-items: center;
}

.terminal__prompt__label {
    flex: 0 0 auto;
    color: #F9EF00;
}

.terminal__prompt__input {
    flex: 1;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    color: white;
}

.terminal__prompt__input input {
    flex: 1;
    width: 100%;
    background-color: transparent;
    color: white;
    border: 0;
    outline: none;
    font-size: 14px;
    line-height: 1.42;
    font-family: 'IBM Plex Mono', Consolas, Menlo, Monaco, 'Courier New', Courier,
        monospace;
}

.terminal::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  background-color: transparent; /* Background color of the scrollbar track */
}

.terminal::-webkit-scrollbar-thumb {
  background-color: #fbcaefff; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners of the scrollbar thumb */
}

.terminal::-webkit-scrollbar-thumb:hover {
  background-color: #824678; /* Color of the scrollbar thumb on hover */
}

.terminal::-webkit-scrollbar-thumb:active {
  background-color: #824678; /* Color of the scrollbar thumb on active state */
}

.terminal::-webkit-scrollbar-thumb:vertical {
  min-height: 20px; /* Minimum height of the scrollbar thumb */
}

.terminal:hover::-webkit-scrollbar-thumb:vertical {
  min-height: 10px; /* Smaller height of the scrollbar thumb on hover */
}

.terminal:not(:hover)::-webkit-scrollbar-thumb:vertical {
  min-height: 5px; /* Even smaller height of the scrollbar thumb when not being used */
}

/*Light Mode*/
.terminal.light {
    background: white;
    color: black;
    text-shadow: none;
}
.terminal.light .terminal__prompt__input input{
        flex: 1;
        width: 100%;
        background-color: transparent;
        color: black;
        border: 0;
        outline: none;
        font-size: 14px;
        line-height: 1.42;
        font-family: 'IBM Plex Mono', Consolas, Menlo, Monaco, 'Courier New', Courier,
            monospace;
}
.terminal.light .terminal__prompt__label {
    flex: 0 0 auto;
    color: #bab416;
}

/*Animation*/
