:root {
    --honeydew: #d2f1e4ff;
    --cotton-candy: #fbcaefff;
    --hot-pink: #f865b0ff;
    --shocking-pink: #e637bfff;
    --english-violet: #48304dff;

}

.App {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cotton-candy);
    font-size: calc(10px + 2vmin);
}

.home-page{
    background: url('./assets/background1.svg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.headerImage{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.about-page{
    background-color: #48304dff;
}
.experience-page {
    background: url('./assets/background1.svg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    padding-top: 10px;
}
.Home-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    height:100vhg;
    padding: 15px;
}
.headerText1 {
    font-size: calc(30px + 2vmin);
}

.headerText2 {
    font-size: calc(10px + 2vmin);
}
.Home-header>svg{
    width: 100%;
    height: 100%;
}
.Experience-header {
    background-color: #48304dff;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    height: 50vh;
}

a {
    color: #fbcaefff;
    text-decoration: none;
}
a:hover {
    color: #d2f1e4ff;
}
.resume-link{
    text-decoration: underline;
}
.section1,.section3{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-between;
}
.section2{
        width: 100%;
            height: 50vh;
            display: flex;
            justify-content: space-between;
}
.exp-body {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 115vh;
}
.body-item{
    background-color: #5a385c;
    border: rgba(210, 241, 228, 0.2)0.5px solid;
    width: 49%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    margin-top: 20px;
    height: 100%;
}

.body-item:hover{
    background-color: #824678;
}

.body-card {
        background-color: #5a385c;
}

.three{
    width: 100%;
}

.contactbar{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    background-color: #48304dff;
    height: 10vh;
}
.contactbar>a{
    padding-top: 1%;
    height: fit-content;
}
.popup-btn{
    position: absolute;
    bottom: 0;
}
img{
    width: 100%; 
    object-fit: contain;
}

.terminalController {
    background: url('./assets/background1.svg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}


.screen-top{
    background-color: #fbcaefff;
    height: 5%;
    width: 50%;
    padding-left: 45px;
    padding-right: 45px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    align-items: flex-end;
}

.x-icon{
    height: 100%;
    width: 5%;
}


